body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-text {
    font-size: 72px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}
